{
    "presets": [
        ["latest", {
            "es2015": {
                "loose": true
            }
        }], "stage-0"
    ],
    "plugins": [["transform-runtime", "syntax-async-generators", {
        "helpers": true,
        "polyfill": true,
        "regenerator": true,
        "moduleName": "babel-runtime"
    }]]
}